body{
    font-family: sans-serif;
}

.hero{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-image: url(../Assets/Banner_01.jpg);
    background-size: cover;
    padding-bottom: 300px;
}

.hero span{
    font-weight: bold;
    font-size: 44px;
    color: white;
    font-family: sans-serif;
}

.hero p{
    font-size: 25px;
    color: white;
}


/* ...................../////vidio/////..................... */

.intro video{
    width: 100%;
    height: 400px;
    margin-top: -300px;
}


/* .........................../////Feacture om/////..................... */


.featured{
    box-shadow: 2px 5px 18px;
    border-radius: 5px;
    height: auto;
}


.featured span{
    font-size: 30px;
    font-weight: bold;
    color: black;
    font-family: sans-serif;
}

.featured img{
   height: 120px;
   width: 170px;
}

/* .................../////Acheviment/////................... */

.achivement{
    height: 100px;
    background-color: rgb(9, 9, 67);
    color: white;
    border-radius: 5px;
    border: 5px solid rgb(35, 126, 245);
    text-align: center;
    line-height: 35px;
    font-size: 20px;
}

.achivement span{
    font-weight: bold;
    columns: white;
}



.admision button{
    width: 100%;
    height: auto;
    color: black;
    border-radius: 10px;
    border: 0px solid transparent ;
    box-shadow: 2px 5px 18px;
    background:linear-gradient( to right ,  rgb(0, 255, 123)  , aqua);
    font-family: sans-serif;

}

.admision button span{
    font-weight: bold;
    font-size: 45px;
}


.admision button p{
    font-size: 20px;
}

.payment img{
    height: 60px;
    width: 120px;
 }


 .teacher1{
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-image: url(../Assets/Banner_01.jpg);
    background-size: cover;
}

.teacher1 span{
    font-weight: bold;
    font-size: 44px;
    color: white;
    font-family: sans-serif;
}

.teacher1 p{
    font-size: 25px;
    color: white;
}

 .teacher img {
    width: 280px;
    height: 280px;
    border-radius: 10px;
    border: 5px solid white;
 }

 .teacher1 button{
    width: 50%;
    height: auto;
    color: black;
    border-radius: 10px;
    border: 0px solid transparent ;
    box-shadow: 2px 5px 18px;
    background:linear-gradient( to right ,  rgb(0, 255, 123)  , aqua);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
 }


 .info h1{
    font-size: 50px;
 }

 .info h1 span{
    font-size: 50px;
    color: rgb(35, 32, 218);
    font-weight: bold;
 }

 .info p{
    font-size: 20px;
 }

 .info span{
    font-size: 30px;
    color: rgb(35, 32, 218);
    font-weight: bold;  
 }

 .profile{
   text-align: center;
}



 .profile img{
    width: 380px;
    height: 380px;
 }


 .profile span button{
    width: 360px;
    height: 100px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 2px 5px 18px;
    border: 0px transparent;
 }

 .profile span button img{
    width: 60px;
    height: 60px;
 }

 .teacher2{
    text-align: center;
    padding-right: 80px;
 }


 .teacher2 img{
   width: 250px;
   height: 250px;
   box-shadow: 2px 5px 18px;
   border: 2px solid black;
 }

 .teacherb button{
    height: 100px;
    color: black;
    border-radius: 10px;
    border: 0px solid transparent ;
    box-shadow: 2px 5px 18px;
    background:linear-gradient( to right ,  rgb(0, 255, 123)  , aqua);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 29px;
    margin-top: 20px;
    margin-bottom: 20px;
 }

 .result{
    text-align: center ;
 }

 .result h1{
    font-weight: bold;
    font-size: 60px;
 }

 .result h5{
    font-weight: bold;
    font-size: 33px;
 }

 .result p{
    font-size: 38px;
 }

 .result video{
    width: 100%;
    border: 2px solid black;
    margin: 20px;
 }

 .result button{
    height: auto;
    color: black;
    border-radius: 10px;
    border: 0px solid transparent ;
    box-shadow: 2px 5px 18px;
    background:linear-gradient( to right ,  rgb(0, 255, 123)  , aqua);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 29px;
    margin-top: 20px;
    margin-bottom: 20px;
 }